<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Friend form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Friend Form</h1>
	<div></div>

	<form th:action="@{add}" method="post" th:object="${daudiem}">

		Loai dau diem:<input th:field="*{loaiDauDiem}" type="text" name="name" />

<!-- 		IDMOn:<input th:field="*{IDMonc}" type="text" name="name" />  -->
		
		<select th:field="*{IDMonc}">
			<option th:each="i : ${list}" th:value="${i.IdMon}" th:text="${i.TenMon}"></option>
		</select> 
		
		<input type="submit" name="add" value="Thêm">
	</form>


</body>
</html>